$color-background-dark: #0b0b0b;

$color-accent-dark: #b08ae8;
$color-text-primary-dark: #d8d6db;
$color-text-muted-dark: #767676c9;

$color-ghost-background-default-dark: transparent;
$color-ghost-text-default-dark: $color-text-muted-dark;
$color-ghost-background-hover-dark: #2525255c;
$color-ghost-text-hover-dark: $color-text-primary-dark;
$color-ghost-background-active-dark: $color-ghost-background-hover-dark;
$color-ghost-text-active-dark: $color-ghost-text-hover-dark;

$color-border-dark: $color-ghost-background-hover-dark;

$color-nav-item-default-dark: $color-text-muted-dark;
$color-nav-item-hover-dark: $color-ghost-background-hover-dark;
$color-nav-item-hover-text-dark: $color-text-primary-dark;
$color-nav-item-active-dark: $color-ghost-background-hover-dark;
$color-nav-item-active-text-dark: $color-accent-dark;

$sidebar-nav-gap: 0.3rem;
$sidebar-nav-padding: 0rem;
$sidebar-nav-item-gap: 0.8rem;
$sidebar-nav-item-padding-block: 0.4rem;
$sidebar-nav-item-padding-inline: 1rem;
$sidebar-nav-icon-size: 1.4rem;
$sidebar-nav-label-size: 0.85rem;
